.app {
  text-align: center;
}

.profiles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-card {
  border: 2px solid #7225bf;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(135, 62, 231, 0.3);
}

.profile-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-card h3 {
  margin: 8px 0;
}

.profile-card p {
  color: #7e36c2;
}